package com.monitise.mcp.service.models

import spray.json.DefaultJsonProtocol

{{#definitions}}

{{class}}

object {{name}} extends DefaultJsonProtocol with SnakeCaseProductFormats {
  implicit val format = jsonFormat{{arglen}}({{name}}.apply)
}
{{/definitions}}
