package com.mycompany;

public class {{name}} {

  {{#properties}}
  private {{type}} {{name}};
  {{/properties}}

  {{#properties}}
  public {{type}} get{{name}}() {
      return {{name}}
  }

  public void set{{name}}({{type}} {{name}}) {
      this.{{name}} = {{name}}
  }
  {{/properties}}

}