package com.google.myproject

import spray.json.DefaultJsonProtocol

{{#definitions}}
object {{name}} extends DefaultJsonProtocol with SnakeCaseProductFormats {
  implicit val format = jsonFormat1({{name}}.apply)
}
{{/definitions}}
