package com.monitise.mcp.service.models

import spray.json.DefaultJsonProtocol

{{#definitions}}
object {{name}} extends DefaultJsonProtocol with SnakeCaseProductFormats {
  implicit val format = jsonFormat0({{name}}.apply)
}
{{/definitions}}
