package com.monitise.mcp.service.rest

import spray.routing.{HttpService, Route}

trait DemoService extends HttpService {

  {{#paths}}
    def get{{path}}: Route = path({{path}})) {
      {{method}} {
        complete {
          "OK"
        }
      }
    }
  {{/paths}}
}
